
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type=text/javascript>
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON('http://localhost:5000/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
      if (data.check == true)
        $("#result").text(data.result);
      else
          window.location = "http://localhost:5000";
      });
      return false;
    });
  });
</script>
    </head>
   <body>
<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>
       </body>
</html>